<!DOCTYPE html>
<html>
<head>
	<title>JobCloud</title>
	<link rel="stylesheet" href="/static/css/styles.css/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/static/scripts.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body >
<nav>
	<img src="/static/img/logo-2.png">
	<button class="btn" type="button"><span>Compare CV</span></button>
</nav>

<section style="background-image: url('static/img/bg.jpg')">
	<div class="wrap" id="searchContainer">
		<h1 id="title" style="font-weight: 300">Job<span class="bold-font">Cloud</span></h1>
		<h2 id="subtitle">Discover Exactly What Employers Want</h2>
		<div class="search" id="search">
			<form action="/getIP" method="POST">
				<input type="text" name="jobTitle" class="searchTerm" id="searchTerm" placeholder="What are you looking for?" required="text">
				<input type="text" name="location" class="searchLocation" id="searchLocation" placeholder="Location" required="text">
				<a href=getIP id=test>
					<button type="submit" class="searchButton" id="searchButton" onclick="fetchCloud()">
						<i class="fa fa-search"></i>
					</button>
				</a> 
			</form>
			
		</div>
	</div>
	<div class="lds-ellipsis" id="loadIcon"><div></div><div></div><div></div><div></div></div>
</section>

<script type="text/javascript">

</script>

</body>
</html>